@import 'core/settings';
@import 'core/links';

body {
	background: linear-gradient(to bottom, rgb(41, 122, 68), rgb(231, 229, 85));
	margin: 0;
	height: 100vh;
}
.form{
	display: flex;
	border: black 1px dotted;
	justify-content: center;	
}
