<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Emparejando</title>
    <link rel="icon" href="./favicon-smile.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <h2 class="main-title">Emparejando</h2>
    <p>¿Con cuántas cartas quieres jugar?</p>
    <p>dale a comenzar y... ¡empieza a memorizar!</p>
    <form class="form" name="form">
      <label for="four">4</label>
      <input type="radio" id="four" class="js-numberOfCards cartas" name="cardsNumber" value="4">
      <label for="six">6</label>
      <input type="radio" id="six" class="js-numberOfCards cartas" name="cardsNumber" value="6" checked>
      <label for="eight">8</label>
      <input type="radio" id="eight" class="js-numberOfCards cartas" name="cardsNumber" value="8">
      <input type="button" value="Comenzar" class="button js-button">

    </form>
    <main class="board">
      <ul class="js-cards cards"></ul>
    </main>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
